@font-face {
    font-family: 'digital-font';
    src: url('./fonts/digital.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background: url("./images/background.jpg");
}

header, footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

header {
  font-size: 30px;
  color: black;
  font-weight: 900;
}

footer {
  font-size: 15px;
  color: darkslategray;
  font-style: italic;
  font-weight: 500;
}

#calcCont {
  display: grid;
  background: rgb(53, 54, 54);
  grid-auto-flow: column;
  width: 400px;
  height: 600px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  border-radius: 25px;
  box-shadow: 0px 15px rgba(0, 0, 0, 0.8),
              0px 15px 30px 0px rgba(0, 0, 0, 0.6),
              0px 25px 30px 0px rgba(0, 0, 0, 0.6),
              0px 35px 30px 0px rgba(0, 0, 0, 0.6);
}

.top {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1.5fr 1.5fr;
  padding: 15px 15px 10px 15px;
  gap: 5px;
}

.solar{
  grid-column: 3 / 4;
  margin-top: 5px;
  background: linear-gradient(rgb(155, 77, 4) 50%, rgb(75, 31, 1));
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  box-shadow: 0 2px rgba(0, 0, 0, 0.4);
}

.solar-cells {
  border: 1px dotted silver;
}

.screen{
  width: 100%;
  height: 100%;
  grid-column: 1 / 4;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background: black;
  opacity: 75%;
  box-shadow: inset 3px 3px rgba(87, 86, 86, 0.8);
  font-family: 'digital-font';
  text-align: end;
  align-items: center;
}

.screen-top {
  font-size: 1.6em;
}

.screen-bottom{
  font-size: 3.6em;
  color: rgba(0, 0, 0, 0.4);
}

.bottom {
  padding: 10px;
  height: 100%;
  width: 100%;
}

#buttonCont {
  padding: 5px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 15px;
}

#zeroBtn{
  grid-column: 1 / 3;
}

button {
 border: none;
 cursor: pointer;
 background: rgb(194, 192, 193);
 padding: 0;
 outline-offset: 4px;
 border-radius: 5px;
 box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.8);
}

span {
 display: block;
 background: rgb(255, 251, 253);
 padding: 10px 14px;
 border-radius: 5px;
 font-size: 1.5em;
 font-weight: 900;
 transform: translateY(-5px);
}

span:hover, #clearAllBtn > span:hover{
 background: rgb(223, 48, 17);
 color: white;
}

.calc-button:hover, #clearAllBtn:hover{
 background: rgb(112, 7, 3);
}

.calc-button:active span {
  transform: translateY(-2px);
}

#onOffBtn{
  background: rgb(12, 116, 12);
  color: white;
}

#onOffBtn > span {
  background: rgb(19, 167, 19);
}

#onOffBtn:hover{
  background: rgb(14, 44, 128);
  color: white;
}
  
#onOffBtn > span:hover{
  background: rgb(52, 89, 255);
}

#clearAllBtn{
  background: rgb(216, 102, 9);
  color: white;
}
  
#clearAllBtn > span {
  background: rgb(255, 172, 47);
}

.operatorBtn {
  background: rgb(37, 37, 37);
  color: white;
}

.operatorBtn > span {
  background: rgb(124, 122, 122);
}

.operatorBtn > span:hover {
  background:rgb(223, 48, 17);
 }

#equalsBtn{
  background: rgb(100, 192, 199);
  color: black;
}
  
#equalsBtn > span {
  background: rgb(150, 239, 255);
}
 
#equalsBtn:hover {
  background:  rgb(112, 7, 3);
  color: white;
}
    
#equalsBtn > span:hover {
  background: rgb(223, 48, 17);
}
